@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  background-color: #F7F9FC;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6
}

h1 {
  color: #575F7D;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  line-height: 2
}

h2 {
  color: #7ECE90;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 2
}

a {
  text-decoration: none;
  color: #6B72E1;
}

a:hover {
  color: black;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  margin: 20px 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 50px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 50px;
}

#img-circle {
  border-radius: 50%;
  width: 100px;
}

.container {
  width: 500px;
  margin: auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
