@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



body {
  background-color: #070F12;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6
}

h1 {
  color: #B8B2A5;
  font-family: 'Raleway', serif;
  font-size: 50px;
  line-height: 2
}

h2 {
  color: #B8B2A5;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 2
}

.undertitle {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #b08968;
}

a:hover {
  color: #432818;
}

.btn-blue {
  background-color: #b08968;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-blue:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
  background-color: #432818;
  color: white;
}

.card {
  background-color: #020507;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  margin: 30px 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 50px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 50px;
}

#img-circle {
  border-radius: 50%;
  width: 150px;
}

.container {
  width: 500px;
  margin: auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
